* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 100px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pixel';
    font-size: 70px;
    z-index: 100;

}

div.gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 999;
}

h2.gameover {
    font-family: 'Pixel';
    font-size: 50px;
    margin: 0 0 20px;
}

p.gameover {
    font-family: 'Oswald-Regular';
    font-size: 30px;
    margin: 0 0 20px;
}

button.gameover {
    font-family: 'Oswald-Regular';
    font-size: 25px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}